
*.cm*

*.annot
.depend

*.so
*.a
*.o
/zamcov-extract
/zamcov-run
/zamcov-run.byte
/tests/foo
/tests/use_nat
/ocaml-3.12.1.tar.gz

clibs/otherlibs/*
/ocaml-4.00.1.tar.gz
/graph_code.marshall
/graph_code.marshall.opti
/zamcov
/zamcov_test
/clibs/other_bigarray.ml
/clibs/other_nums.ml
/clibs/other_str.ml
/clibs/other_unix.ml
/clibs/runtime_alloc.ml
/clibs/runtime_array.ml
/clibs/runtime_backtrace.ml
/clibs/runtime_callback.ml
/clibs/runtime_compare.ml
/clibs/runtime_dynlink.ml
/clibs/runtime_extern.ml
/clibs/runtime_finalise.ml
/clibs/runtime_floats.ml
/clibs/runtime_gc_ctrl.ml
/clibs/runtime_hash.ml
/clibs/runtime_intern.ml
/clibs/runtime_ints.ml
/clibs/runtime_io.ml
/clibs/runtime_lexing.ml
/clibs/runtime_md5.ml
/clibs/runtime_meta.ml
/clibs/runtime_obj.ml
/clibs/runtime_parsing.ml
/clibs/runtime_signals.ml
/clibs/runtime_stacks.ml
/clibs/runtime_str.ml
/clibs/runtime_sys.ml
/clibs/runtime_terminfo.ml
/clibs/runtime_weak.ml
