
*.cm*

*.annot
.depend

*.so
*.a
*.o
/zamcov-extract
/zamcov-run
/zamcov-run.byte
/tests/foo
/tests/use_nat
/ocaml-3.12.1.tar.gz

clibs/otherlibs/*
/ocaml-4.00.1.tar.gz
/graph_code.marshall
/graph_code.marshall.opti
